button, input, select, textarea {
}

.container {
}

.container2 {
  position:relative;
  width:371px;
  height:187px;
  border:1px solid #ddd;
}

btn btn-default2 {
  position:absolute;
  top:3px;
  right:3px;
  width:60px;
}

textarea2 {
}

textarea2 {
  position:relative;
  border:none;
  width:232px;
  height:95px;
  resize:none;
  outline:none;
}

button {
}

.btn.btn-default2 {
  align-content:center;
}

.container2 {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.btn.btn-default2 {
  display:block;
  margin-right:200px;
  margin:120px;
  margin-left:auto;
  margin-left:290px;
}

.btn.btn-default2 {
  width:465px;
  height:42px;
  display:block;
  margin-right:auto;
  margin-left:auto;
  background-image:url("../../assets/img/Calculate Button.png");
  background-repeat:no-repeat;
  background-size:auto;
  background-position:center;
}

.container3 {
  height:150px;
  width:371px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-color:black;
}

fieldset {
}

..btn {
}

.container2 {
}

