.btn.btn-default3 {
  /*width:465px;*/
  height:42px;
  display:block;
  margin-right:10px;
  margin-left:auto;
  /*padding:0px;*/
  background-image:url("../../assets/img/copy icon.png");
  background-repeat:no-repeat;
  background-size:auto;
  background-position:center;
  background-color:white;
  border:none;
  margin-top:80px;
}

.download {
  background-image:url:();
}

