.markdown p {
	text-align: left;
	font-weight: normal;
}

.markdown img {
	margin-right: auto;
	margin-left: auto;
}

.markdown table, .markdown th, .markdown td {
	border: 1px solid black;
}

.markdown th, .markdown td {
	padding: 6px !important;
}

.markdown td {
	font-weight: normal;
}
